*{
    margin: 0;
    padding: 0;
    background-color:black;
    scroll-behavior: smooth;
}


h1,h2{
    text-align: center;
    margin: 20px;
    color:white ;

}
p{
    color: white;
}
#Footer{
    background-color: aqua;
}
